<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--CSS External Link-->
    <link rel="stylesheet" href={{ url_for('static', filename='home.css') }}>
 
    <!--Font Link (Poppins)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">

</head>


<body>

    <img src={{ url_for('static', filename='images/back0.png') }} alt="" class="back">
    <div class="cont">
        <!-- left -->
        <div class="image">
            <img src={{ url_for('static', filename='images/peep.svg') }} alt="">
        </div>
        <!-- right -->
        <div class="right">
            <form method="post">
                <section class="main">
                    <h2>Input Title....</h2>
                    <hr>
    
                    <p>input text....</p>
                    <br>
                </section>

                 <div class="cont-input course">  
                    <label for="course">Course Name</label>
                    <input id="course" name="course" type="text" placeholder="Input Course Name">
                 </div>

                 <div class="cont-input id">  
                    <label for="courseid">Course ID</label>
                    <input id="courseid" name="courseid" type="text" placeholder="Input Course ID">
                 </div>

                <!-- ques or text -->
                 <div class="cont-input textf">  
                    <label for="textf">Text</label>
                    <textarea id="textf" name="textf" placeholder="Input Text"></textarea>
                 </div>

                 <button class="submit-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
    
</body>
</html>